In [307]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score,roc_auc_score,confusion_matrix

In [308]:
train = pd.read_csv('C:/Users/HP/Downloads/Selection_sklearn/Machine_Learning_with_Text/pycon-2016-tutorial-master/data/yelp.csv')

In [309]:
X = train['text']
y = train['stars']

In [310]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)
X_train.shape

(7500,)

In [311]:
y_train.value_counts()

4    2642
5    2505
3    1096
2     693
1     564
Name: stars, dtype: int64

In [345]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(min_df=5,stop_words='english',ngram_range=(1,2),max_df=0.9)

In [346]:
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [347]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB(alpha=1)

In [348]:
nb.fit(X_train_dtm,y_train)

MultinomialNB(alpha=1, class_prior=None, fit_prior=True)

In [349]:
pre = nb.predict(X_test_dtm)

In [350]:
accuracy_score(y_test,pre)

0.51719999999999999

In [318]:
X_train_tokens = vect.get_feature_names()

In [319]:
confusion_matrix(y_test,pre)

array([[ 93,  40,  21,  17,  14],
       [ 44,  64,  64,  47,  15],
       [ 20,  24, 109, 161,  51],
       [ 18,  11,  71, 528, 256],
       [ 22,  10,  28, 273, 499]], dtype=int64)

In [320]:
X_test[pre<y_test].head()

2041    I have shared many an awful, hungover morning ...
6111    Does anyone know why their regular subs are $1...
7673    I had a mammogram completed on 12/12/10.  This...
1266    I've never been to this location before. My hu...
2370    Not a bad theater. The staff is friendly and t...
Name: text, dtype: object

In [321]:
X_train_tokens

['00',
 '00 pm',
 '000',
 '00am',
 '00pm',
 '01',
 '05',
 '07',
 '10',
 '10 00',
 '10 11',
 '10 12',
 '10 15',
 '10 30',
 '10 bucks',
 '10 discount',
 '10 min',
 '10 mins',
 '10 minutes',
 '10 people',
 '10 pm',
 '10 seconds',
 '10 times',
 '10 years',
 '100',
 '1000',
 '101',
 '10am',
 '10pm',
 '11',
 '11 00',
 '11 30',
 '110',
 '115',
 '11am',
 '11pm',
 '12',
 '12 30',
 '12 50',
 '12 bucks',
 '120',
 '12oz',
 '13',
 '14',
 '15',
 '15 20',
 '15 bucks',
 '15 min',
 '15 mins',
 '15 minutes',
 '15 years',
 '150',
 '16',
 '160',
 '16th',
 '17',
 '17 years',
 '18',
 '19',
 '19th',
 '19th ave',
 '1pm',
 '1st',
 '1st time',
 '20',
 '20 00',
 '20 25',
 '20 30',
 '20 bucks',
 '20 min',
 '20 minute',
 '20 minutes',
 '20 people',
 '20 times',
 '20 years',
 '200',
 '2004',
 '2006',
 '2007',
 '2009',
 '2010',
 '2011',
 '2012',
 '20s',
 '21',
 '22',
 '23',
 '24',
 '24 hour',
 '24 hours',
 '24th',
 '25',
 '25 minutes',
 '250',
 '26',
 '27',
 '28',
 '29',
 '2am',
 '2nd',
 '2nd time',
 '2pm',
 '30',
 '30 30',
 '30 40',
 '30 45',
 '30 min',
 '30 minute',
 '30 minutes',
 '30 pm',
 '30 saturday',
 '30 times',
 '30 years',
 '300',
 '30am',
 '30pm',
 '31',
 '32',
 '34',
 '35',
 '35 minutes',
 '35th',
 '39',
 '3am',
 '3pm',
 '3rd',
 '3x',
 '40',
 '40 minutes',
 '400',
 '42',
 '44',
 '44th',
 '45',
 '45 min',
 '45 minute',
 '45 minutes',
 '47',
 '49',
 '4pm',
 '4th',
 '50',
 '50 cents',
 '50 minutes',
 '500',
 '51',
 '55',
 '5pm',
 '5th',
 '5th star',
 '60',
 '64',
 '65',
 '69',
 '6pm',
 '70',
 '70s',
 '75',
 '79',
 '7am',
 '7pm',
 '7th',
 '7th ave',
 '80',
 '80s',
 '85',
 '88',
 '8pm',
 '8th',
 '90',
 '90 minute',
 '90 minutes',
 '90s',
 '95',
 '98',
 '99',
 '99 cent',
 '99 cents',
 '99 time',
 '9pm',
 'aaron',
 'ab',
 'abandoned',
 'abilities',
 'ability',
 'able',
 'able eat',
 'able enjoy',
 'able make',
 'able read',
 'able sit',
 'able try',
 'able watch',
 'absolute',
 'absolute best',
 'absolute favorite',
 'absolutely',
 'absolutely amazing',
 'absolutely best',
 'absolutely delicious',
 'absolutely fantastic',
 'absolutely great',
 'absolutely love',
 'absolutely loved',
 'absolutely perfect',
 'absolutely wonderful',
 'absolutely worth',
 'abundance',
 'ac',
 'acai',
 'accent',
 'accept',
 'accept amex',
 'acceptable',
 'accepted',
 'access',
 'accessible',
 'accessories',
 'accident',
 'accidentally',
 'accommodate',
 'accommodating',
 'accommodations',
 'accomodate',
 'accomodating',
 'accompanied',
 'accompany',
 'accompanying',
 'accomplished',
 'according',
 'accordingly',
 'account',
 'accurate',
 'accustomed',
 'ace',
 'ache',
 'acknowledge',
 'acknowledged',
 'acoustics',
 'act',
 'acted',
 'acted like',
 'acting',
 'action',
 'active',
 'activities',
 'activity',
 'acts',
 'actual',
 'actually',
 'actually better',
 'actually enjoyed',
 'actually felt',
 'actually good',
 'actually got',
 'actually like',
 'actually pretty',
 'actually quite',
 'actually really',
 'actually think',
 'ad',
 'adam',
 'add',
 'add flavor',
 'add little',
 'added',
 'added bonus',
 'addict',
 'addicted',
 'addicting',
 'addiction',
 'addictive',
 'adding',
 'addition',
 'additional',
 'additionally',
 'address',
 'adds',
 'adequate',
 'adjacent',
 'adjoining',
 'adjust',
 'adjusted',
 'admission',
 'admit',
 'admittedly',
 'adobe',
 'adobo',
 'adopted',
 'adorable',
 'adore',
 'adore place',
 'adovada',
 'adult',
 'adult beverages',
 'adults',
 'advance',
 'advanced',
 'advantage',
 'adventure',
 'adventurous',
 'advertise',
 'advertised',
 'advertising',
 'advice',
 'advise',
 'advised',
 'affair',
 'affect',
 'afford',
 'affordable',
 'aforementioned',
 'afraid',
 'african',
 'afterall',
 'afternoon',
 'afternoon lunch',
 'afternoons',
 'aftertaste',
 'afterthought',
 'afterward',
 'agave',
 'age',
 'aged',
 'agent',
 'ages',
 'aggressive',
 'aging',
 'ago',
 'ago place',
 'ago remember',
 'agree',
 'agree reviewers',
 'agreed',
 'agreement',
 'agrees',
 'ah',
 'ahead',
 'ahead time',
 'ahh',
 'ahhh',
 'ahi',
 'ahi tuna',
 'ahwatukee',
 'aid',
 'ain',
 'aioli',
 'air',
 'air conditioning',
 'airline',
 'airlines',
 'airport',
 'airways',
 'airy',
 'aisle',
 'aisles',
 'aj',
 'aka',
 'al',
 'al pastor',
 'ala',
 'ala carte',
 'alas',
 'albeit',
 'albert',
 'alcohol',
 'alcoholic',
 'ale',
 'alert',
 'alfredo',
 'alice',
 'alike',
 'alive',
 'allergic',
 'allergies',
 'alley',
 'allot',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'almond',
 'almonds',
 'alongside',
 'alot',
 'alright',
 'alternative',
 'alternatives',
 'altogether',
 'amanda',
 'amateur',
 'amazed',
 'amazing',
 'amazing best',
 'amazing chicken',
 'amazing definitely',
 'amazing food',
 'amazing good',
 'amazing great',
 'amazing just',
 'amazing like',
 'amazing love',
 'amazing menu',
 'amazing pizza',
 'amazing place',
 'amazing really',
 'amazing service',
 'amazing staff',
 'amazing thing',
 'amazing time',
 'amazing ve',
 'amazing views',
 'amazingly',
 'amazingly good',
 'amazon',
 'amber',
 'amber ale',
 'ambiance',
 'ambiance good',
 'ambiance great',
 'ambiance nice',
 'ambiance service',
 'ambience',
 'ambient',
 'ambrosia',
 'amc',
 'amenities',
 'america',
 'american',
 'american food',
 'americanized',
 'americano',
 'americans',
 'amex',
 'amounts',
 'ample',
 'ample seating',
 'amuse',
 'amuse bouche',
 'amused',
 'amusing',
 'amy',
 'ancho',
 'ancient',
 'andrew',
 'angel',
 'angel sweet',
 'angeles',
 'angles',
 'angry',
 'animal',
 'animals',
 'anise',
 'anniversary',
 'annoyance',
 'annoyed',
 'annoying',
 'annual',
 'answer',
 'answer phone',
 'answer questions',
 'answered',
 'answered questions',
 'answering',
 'answering questions',
 'answers',
 'anthem',
 'anti',
 'anticipate',
 'anticipated',
 'antipasti',
 'antipasto',
 'antique',
 'anxious',
 'anybody',
 'anymore',
 'anytime',
 'anytime soon',
 'anyways',
 'anywho',
 'apart',
 'apartment',
 'apartments',
 'apologetic',
 'apologize',
 'apologized',
 'apologized wait',
 'apologizing',
 'apology',
 'app',
 'apparel',
 'apparent',
 'apparently',
 'appeal',
 'appealing',
 'appear',
 'appearance',
 'appeared',
 'appears',
 'appetite',
 'appetizer',
 'appetizer ordered',
 'appetizers',
 'appetizing',
 'apple',
 'apple pie',
 'apple slices',
 'apple store',
 'applebee',
 'apples',
 'applewood',
 'applewood smoked',
 'applied',
 'apply',
 'applying',
 'appointed',
 'appointment',
 'appointments',
 'appreciate',
 'appreciated',
 'appreciation',
 'apprehensive',
 'approach',
 'approached',
 'approaching',
 'appropriate',
 'appropriately',
 'approximately',
 'apps',
 'appt',
 'apricot',
 'april',
 'apron',
 'arcade',
 'arcadia',
 'architecture',
 'area',
 'area bar',
 'area decided',
 'area definitely',
 'area don',
 'area food',
 'area good',
 'area got',
 'area great',
 'area just',
 'area know',
 'area like',
 'area little',
 'area nice',
 'area place',
 'area stop',
 'areas',
 'aren',
 'aren good',
 'aren great',
 'arena',
 'arent',
 'argue',
 'argued',
 'arizona',
 'arm',
 'arm leg',
 'arms',
 'army',
 'arnold',
 'aroma',
 'arranged',
 'arrangement',
 'arrangements',
 'array',
 'arriba',
 'arrival',
 'arrive',
 'arrived',
 'arrived 10',
 'arrived 30',
 'arrived early',
 'arrived time',
 'arrives',
 'arriving',
 'arrogant',
 'arrowhead',
 'art',
 'art supply',
 'art walls',
 'art work',
 'artery',
 'artichoke',
 'artichoke dip',
 'artichoke hearts',
 'artichokes',
 'article',
 'artificial',
 'artist',
 'artistic',
 'artists',
 'arts',
 'artsy',
 'artwork',
 'arugula',
 'asada',
 'asada burrito',
 'asada taco',
 'asada tacos',
 'asado',
 'asap',
 'ashamed',
 'asian',
 'asian food',
 'asian fusion',
 'asian market',
 'asian restaurants',
 'aside',
 'ask',
 'ask extra',
 'ask just',
 'ask make',
 'ask needed',
 'ask order',
 'ask questions',
 'ask server',
 'ask want',
 'asked',
 'asked check',
 'asked drink',
 'asked food',
 'asked like',
 'asked make',
 'asked manager',
 'asked needed',
 'asked said',
 'asked server',
 'asked waiter',
 'asked waitress',
 'asked wanted',
 'asked water',
 'asking',
 'asks',
 'asparagus',
 'aspect',
 'aspects',
 'ass',
 'ass burger',
 'assembled',
 'assessment',
 'assigned',
 'assistance',
 'assistant',
 'associate',
 'associated',
 'associates',
 'assorted',
 'assortment',
 'assume',
 'assumed',
 'assuming',
 'assure',
 'assured',
 'asu',
 'asu students',
 'ate',
 'ate half',
 'ate lunch',
 'ate time',
 'atleast',
 'atm',
 'atmosphere',
 'atmosphere amazing',
 'atmosphere awesome',
 'atmosphere bit',
 'atmosphere definitely',
 'atmosphere food',
 'atmosphere friendly',
 'atmosphere fun',
 'atmosphere good',
 'atmosphere great',
 'atmosphere inside',
 'atmosphere just',
 'atmosphere like',
 'atmosphere love',
 'atmosphere nice',
 'atmosphere perfect',
 'atmosphere pretty',
 'atmosphere really',
 'atmosphere relaxing',
 'atmosphere service',
 'atop',
 'atrium',
 'atrocious',
 'attached',
 'attack',
 'attempt',
 'attempted',
 'attempting',
 'attempts',
 'attend',
 'attendant',
 'attendants',
 'attended',
 'attending',
 'attention',
 'attentive',
 'attentive food',
 'attentive friendly',
 'attentive helpful',
 'attentive service',
 'attentive staff',
 'attire',
 'attitude',
 'attitudes',
 'attract',
 'attracted',
 'attraction',
 'attractions',
 'attractive',
 'au',
 'au gratin',
 'au jus',
 'audience',
 'august',
 'aunt',
 'austin',
 'authentic',
 'authentic asian',
 'authentic chinese',
 'authentic italian',
 'authentic japanese',
 'authentic mexican',
 'authentic thai',
 'authentically',
 'authenticity',
 'auto',
 'auto body',
 'automatic',
 'automatically',
 'avacado',
 'available',
 'ave',
 'avenue',
 'average',
 'average bar',
 'average best',
 'average food',
 'average prices',
 'avocado',
 'avocados',
 'avoid',
 'avoid place',
 'avoided',
 'avoiding',
 'awake',
 'award',
 'award winning',
 'aware',
 'away',
 'away food',
 'away home',
 'away place',
 'away time',
 'awesome',
 'awesome atmosphere',
 'awesome best',
 'awesome food',
 'awesome great',
 'awesome like',
 'awesome little',
 'awesome love',
 'awesome music',
 'awesome patio',
 'awesome pizza',
 'awesome place',
 'awesome really',
 'awesome service',
 'awesome staff',
 'awesome ve',
 'awesomeness',
 'awful',
 'awful service',
 'awfully',
 'awhile',
 'awkward',
 'awkwardly',
 'az',
 'az88',
 'baba',
 'babies',
 'baby',
 'baby ribs',
 'babysitter',
 'bachelorette',
 'bachelorette party',
 'backed',
 'background',
 'backs',
 'backwards',
 'backyard',
 'bacon',
 'bacon cheese',
 'bacon eggs',
 'bacon good',
 'bacon wrapped',
 'bad',
 'bad bad',
 'bad day',
 'bad experience',
 'bad food',
 'bad good',
 'bad great',
 'bad just',
 'bad like',
 'bad love',
 'bad meal',
 'bad night',
 'bad place',
 'bad really',
 'bad review',
 'bad reviews',
 'bad say',
 'bad service',
 'bad thing',
 'bad wasn',
 'badly',
 'bag',
 'bagel',
 'bagel cream',
 'bagels',
 'baggage',
 'bagged',
 'bags',
 'baguette',
 'bait',
 'baja',
 'baja fresh',
 'baja sauce',
 'bake',
 'baked',
 'baked goods',
 'baked potato',
 'baker',
 'bakeries',
 'bakery',
 'bakery items',
 'baking',
 'baklava',
 'balance',
 'balanced',
 'balcony',
 'ball',
 'ball park',
 'ballet',
 'ballpark',
 'balls',
 'balsamic',
 'balsamic dressing',
 'bamboo',
 'banana',
 'banana bread',
 'banana split',
 'bananas',
 'band',
 'band playing',
 'bandera',
 'bands',
 'bang',
 'bang buck',
 'bangers',
 'bangers mash',
 'banging',
 'banh',
 'bank',
 'banner',
 'bar',
 'bar area',
 'bar best',
 'bar don',
 'bar drinks',
 'bar food',
 'bar friendly',
 'bar good',
 'bar great',
 'bar grill',
 'bar just',
 'bar like',
 'bar little',
 'bar located',
 'bar make',
 'bar menu',
 'bar nice',
 'bar open',
 'bar order',
 'bar ordered',
 'bar outside',
 'bar place',
 'bar really',
 'bar restaurant',
 'bar scene',
 'bar service',
 'bar small',
 'bar staff',
 'bar table',
 'bar tender',
 'bar think',
 'bar time',
 'barbecue',
 'barbecue sauce',
 'barbeque',
 'barber',
 'barber shop',
 'bare',
 'barely',
 'bargain',
 'bargains',
 'barista',
 'baristas',
 'bark',
 'barnes',
 'barnes noble',
 'barrel',
 'barrier',
 'barrio',
 'barrio cafe',
 'barro',
 'bars',
 'bartender',
 'bartender friendly',
 'bartenders',
 'bartenders friendly',
 'bartenders great',
 'base',
 'baseball',
 'based',
 'based reviews',
 'based yelp',
 'baseline',
 'basement',
 'bash',
 'basic',
 'basically',
 'basics',
 'basil',
 'basis',
 'basket',
 'basketball',
 'baskets',
 'basmati',
 'basmati rice',
 'bass',
 'bat',
 'batch',
 'bath',
 'bathing',
 'bathroom',
 'bathrooms',
 'bathrooms clean',
 'bathrooms nice',
 'bathtub',
 'bats',
 'batter',
 'battered',
 'battery',
 'bay',
 'bay area',
 'bbb',
 'bbq',
 'bbq beef',
 'bbq chicken',
 'bbq place',
 'bbq pork',
 'bbq sauce',
 'bc',
 'bday',
 'beach',
 'beams',
 'bean',
 'bean burger',
 'bean cheese',
 'bean dip',
 'bean sprouts',
 'beans',
 'beans good',
 'beans ordered',
 'beans rice',
 'bear',
 'bears',
 'beat',
 'beat prices',
 'beaten',
 'beats',
 'beau',
 'beautiful',
 'beautiful clean',
 'beautiful day',
 'beautiful place',
 'beautifully',
 'beautifully decorated',
 'beauty',
 'beckett',
 'bed',
 'bed comfy',
 ...]

In [322]:
nb.feature_count_

array([[ 19.,   1.,   5., ...,   0.,   1.,   0.],
       [ 28.,   0.,   2., ...,   0.,   6.,   1.],
       [ 30.,   3.,   2., ...,   2.,   6.,   1.],
       [ 49.,   2.,   3., ...,   9.,   9.,   1.],
       [ 33.,   0.,   7., ...,   8.,  11.,   2.]])

In [323]:
onestarcount = nb.feature_count_[0,:]
twostarcount = nb.feature_count_[1,:]
threestarcount=nb.feature_count_[2,:]
fourstarcount=nb.feature_count_[3,:]
fivestarcount = nb.feature_count_[4,:]

In [324]:
onestarcount

array([ 19.,   1.,   5., ...,   0.,   1.,   0.])

In [325]:
reviews = pd.DataFrame({'Token':X_train_tokens,'1starcount':onestarcount,'2starcount':twostarcount,'3starcount':threestarcount,'4starcount':fourstarcount,'5starcount':fivestarcount}).set_index('Token')

In [326]:
reviews['1starcount']=reviews['1starcount']/nb.class_count_[0]
reviews['2starcount']=reviews['2starcount']/nb.class_count_[1]
reviews['3starcount']=reviews['3starcount']/nb.class_count_[2]
reviews['4starcount']=reviews['4starcount']/nb.class_count_[3]
reviews['5starcount']=reviews['5starcount']/nb.class_count_[4]

In [327]:
reviews['1starcount'] = reviews['1starcount']+1
reviews['2starcount'] = reviews['2starcount']+1
reviews['3starcount'] = reviews['3starcount']+1
reviews['4starcount'] = reviews['4starcount']+1
reviews['5starcount'] = reviews['5starcount']+1

In [328]:
reviews['1starratio']=reviews['1starcount']/(reviews['2starcount']+reviews['3starcount']+reviews['4starcount']+reviews['5starcount'])
reviews['2starratio']=reviews['2starcount']/(reviews['1starcount']+reviews['3starcount']+reviews['4starcount']+reviews['5starcount'])
reviews['3starratio']=reviews['3starcount']/(reviews['1starcount']+reviews['2starcount']+reviews['4starcount']+reviews['5starcount'])
reviews['4starratio']=reviews['4starcount']/(reviews['1starcount']+reviews['2starcount']+reviews['3starcount']+reviews['5starcount'])
reviews['5starratio']=reviews['5starcount']/(reviews['1starcount']+reviews['2starcount']+reviews['3starcount']+reviews['4starcount'])

In [329]:
onestar = reviews[(reviews['1starratio']>reviews['2starratio']) & (reviews['1starratio']>reviews['3starratio']) & (reviews['1starratio']>reviews['4starratio']) & (reviews['1starratio']>reviews['5starratio'])]
twostar = reviews[(reviews['2starratio']>reviews['1starratio']) & (reviews['2starratio']>reviews['3starratio']) & (reviews['2starratio']>reviews['4starratio']) & (reviews['2starratio']>reviews['5starratio'])]
threestar = reviews[(reviews['3starratio']>reviews['1starratio']) & (reviews['3starratio']>reviews['2starratio']) & (reviews['3starratio']>reviews['4starratio']) & (reviews['3starratio']>reviews['5starratio'])]
fourstar = reviews[(reviews['4starratio']>reviews['1starratio']) & (reviews['4starratio']>reviews['2starratio']) & (reviews['4starratio']>reviews['3starratio']) & (reviews['4starratio']>reviews['5starratio'])]
fivestar = reviews[(reviews['5starratio']>reviews['1starratio']) & (reviews['5starratio']>reviews['2starratio']) & (reviews['5starratio']>reviews['3starratio']) & (reviews['5starratio']>reviews['4starratio'])]

In [330]:
onetop = onestar.sort_values('1starratio',ascending=False)
onetop.head()

,1starcount,2starcount,3starcount,4starcount,5starcount,1starratio,2starratio,3starratio,4starratio,5starratio
Token,,,,,,,,,,
minutes,1.315603,1.158730,1.082117,1.046934,1.037525,0.304164,0.258519,0.237369,0.227893,0.225383
told,1.248227,1.116883,1.045620,1.033687,1.036327,0.294914,0.255939,0.235759,0.232443,0.233175
asked,1.244681,1.155844,1.062956,1.044285,1.039122,0.289312,0.263228,0.237059,0.231929,0.230518
said,1.258865,1.180375,1.114964,1.078350,1.061078,0.283863,0.261535,0.243513,0.233648,0.229048
horrible,1.136525,1.027417,1.010949,1.004921,1.002794,0.280895,0.247261,0.242338,0.240545,0.239914

In [331]:
twotop = twostar.sort_values('2starratio',ascending=False)
twotop.head()

,1starcount,2starcount,3starcount,4starcount,5starcount,1starratio,2starratio,3starratio,4starratio,5starratio
Token,,,,,,,,,,
like,1.588652,1.734488,1.592153,1.504921,1.372455,0.256068,0.286305,0.256778,0.239342,0.213771
just,1.588652,1.643579,1.570255,1.418244,1.371657,0.264611,0.276287,0.260747,0.229707,0.220498
food,1.783688,1.822511,1.689781,1.617714,1.508583,0.268685,0.276148,0.250989,0.237740,0.218202
better,1.182624,1.266955,1.211679,1.138910,1.106188,0.250358,0.273086,0.258096,0.238893,0.230448
really,1.253546,1.417027,1.396898,1.372067,1.271856,0.229678,0.267648,0.262847,0.256974,0.233817

In [332]:
threetop = threestar.sort_values('3starratio',ascending=False)
threetop.head()

,1starcount,2starcount,3starcount,4starcount,5starcount,1starratio,2starratio,3starratio,4starratio,5starratio
Token,,,,,,,,,,
good,1.429078,1.672439,1.897810,1.837245,1.489421,0.207205,0.251360,0.295233,0.283143,0.217861
pretty,1.088652,1.180375,1.291971,1.234292,1.093812,0.226781,0.250678,0.281038,0.265165,0.228101
ok,1.076241,1.170274,1.177920,1.051855,1.027146,0.243098,0.270074,0.272319,0.236288,0.229464
think,1.150709,1.193362,1.250912,1.155185,1.100200,0.244849,0.256251,0.271970,0.246036,0.231613
little,1.115248,1.174603,1.278285,1.271764,1.165269,0.228071,0.243161,0.270429,0.268678,0.240763

In [333]:
fourtop = fourstar.sort_values('4starratio',ascending=False)
fourtop.head()

,1starcount,2starcount,3starcount,4starcount,5starcount,1starratio,2starratio,3starratio,4starratio,5starratio
Token,,,,,,,,,,
great,1.115248,1.259740,1.381387,1.636260,1.613573,0.189315,0.219220,0.245588,0.304707,0.299218
nice,1.109929,1.178932,1.270985,1.276684,1.180439,0.226191,0.243680,0.267802,0.269326,0.244067
definitely,1.037234,1.060606,1.115876,1.153671,1.109780,0.233615,0.240143,0.255859,0.266838,0.254106
fresh,1.046099,1.060606,1.105839,1.153293,1.142116,0.234454,0.238481,0.251206,0.264841,0.261603
tasty,1.012411,1.063492,1.108577,1.123013,1.063074,0.232303,0.246917,0.260108,0.264390,0.246796

In [334]:
fivetop = fivestar.sort_values('5starratio',ascending=False)
fivetop.head()

,1starcount,2starcount,3starcount,4starcount,5starcount,1starratio,2starratio,3starratio,4starratio,5starratio
Token,,,,,,,,,,
love,1.058511,1.098124,1.164234,1.219531,1.333333,0.219826,0.229944,0.247210,0.262028,0.293660
best,1.097518,1.119769,1.113139,1.175246,1.299401,0.233140,0.238996,0.237245,0.253842,0.288392
amazing,1.023050,1.031746,1.051095,1.095004,1.187226,0.234372,0.236836,0.242354,0.255060,0.282613
delicious,1.040780,1.051948,1.067518,1.171461,1.176846,0.232953,0.236042,0.240376,0.270103,0.271682
favorite,1.010638,1.028860,1.055657,1.095382,1.133733,0.234289,0.239525,0.247307,0.259024,0.270546

In [335]:
reviews.loc['love']

1starcount    1.058511
2starcount    1.098124
3starcount    1.164234
4starcount    1.219531
5starcount    1.333333
1starratio    0.219826
2starratio    0.229944
3starratio    0.247210
4starratio    0.262028
5starratio    0.293660
Name: love, dtype: float64